$primary-gradient-top: #FFFF99;
$primary-gradient-bottom: #ff40af;
$background-gradient-top: #001469;
$background-gradient-bottom: #8f489c;
$text-color: white;
$font-main: "Open Sans", sans-serif;
$font-logo: "Honk", system-ui;
$button-border-color: black;